body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.signUp-container, .signIn-container {
    background: #fff;
    width: 370px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 25px 40px rgb(0, 0, 1, 0.9);
}

form {
    margin: 0 3rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

label {
    display: block;
    margin-bottom: 7px;
    font: bold;
}

input {
    width: calc(100% - 22px);
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn {
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 15px auto;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: rgb(125, 125, 235);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}

.links {
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    margin-top: 0.9rem;
}

button {
    color: rgb(125, 125, 235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
}
